/*
 * Theme Name: Divi Child
 * Template: Divi
 * Author: Zan Atlantean
 * Description: Common changes for Elegant Themes' Divi
 * Version: 1.0.0
 * License: GNU General Public License v3
 * License URI: http://www.gnu.org/licenses/gpl-3.0.html
 */

@import url('../Divi/style.css');

body {
  font-size: 1.25em;
}

#top-menu li,
.fullwidth-menu li {
  font-size: 1em;
}

.et_fixed_nav #logo{
  max-height: 80px;
  margin-top: -10px;
}
/*
.et_pb_column {
  text-align: center;
}
*/

input[type="radio"] {
  -webkit-appearance: radio;
}

input[type="submit"] {
  cursor: pointer;
  font-family: 'Raleway', Arial, sans-serif;
   color:#666;
  background-color: #ddd;
  border: none;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  min-width: 63px;
  height: 31px !important;
  right: 5px;
  top: 0;
  line-height: 1;
}
input[type="submit"]:hover {
  background-color: #2EA3F2;
  color: #111;
}

.widget_search #searchsubmit {
  margin: 0;
  padding: 0 !important;
  position: relative;
  right: 0;
}
